<!DOCTYPE html>
<html lang=“en”>
  <head>
      <meta charset=“UTF-8”>
      <meta name=“viewport” content=“width=device-width, initial-scale=1.0”>
      <meta http-equiv=“X-UA-Compatible” content=“ie=edge”>

      <title>Django - alpine.js</title>

      <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <!-- Buttons: Primary Contextual -->
    <div class="grid grid-cols-1 sm:grid-cols-5 gap-4 lg:gap-8 text-center">
      <div>
        <!-- Button (extra small emerald) -->
        <button type="button" class="inline-flex justify-center items-center space-x-2 border font-semibold rounded-lg px-2 py-1 leading-5 text-sm border-emerald-700 bg-emerald-700 text-white hover:text-white hover:bg-emerald-600 hover:border-emerald-600 focus:ring focus:ring-emerald-400 focus:ring-opacity-50 active:bg-emerald-700 active:border-emerald-700 dark:focus:ring-emerald-400 dark:focus:ring-opacity-90">
          Button
        </button>
        <!-- END Button (extra small emerald) -->
      </div>
      <div>
        <!-- Button (small amber) -->
        <button type="button" class="inline-flex justify-center items-center space-x-2 border font-semibold rounded-lg px-3 py-2 leading-5 text-sm border-orange-700 bg-orange-700 text-white hover:text-white hover:bg-orange-600 hover:border-orange-600 focus:ring focus:ring-orange-400 focus:ring-opacity-50 active:bg-orange-700 active:border-orange-700 dark:focus:ring-orange-400 dark:focus:ring-opacity-90">
          Button
        </button>
        <!-- END Button (small amber) -->
      </div>
      <div>
        <!-- Button (normal rose) -->
        <button type="button" class="inline-flex justify-center items-center space-x-2 border font-semibold rounded-lg px-4 py-2 leading-6 border-rose-700 bg-rose-700 text-white hover:text-white hover:bg-rose-600 hover:border-rose-600 focus:ring focus:ring-rose-400 focus:ring-opacity-50 active:bg-rose-700 active:border-rose-700 dark:focus:ring-rose-400 dark:focus:ring-opacity-90">
          Button
        </button>
        <!-- END Button (normal rose) -->
      </div>
      <div>
        <!-- Button (large indigo) -->
        <button type="button" class="inline-flex justify-center items-center space-x-2 border font-semibold rounded-lg px-6 py-3 leading-6 border-indigo-700 bg-indigo-700 text-white hover:text-white hover:bg-indigo-600 hover:border-indigo-600 focus:ring focus:ring-indigo-400 focus:ring-opacity-50 active:bg-indigo-700 active:border-indigo-700 dark:focus:ring-indigo-400 dark:focus:ring-opacity-90">
          Button
        </button>
        <!-- END Button (large indigo) -->
      </div>
      <div>
        <!-- Button (extra large pink) -->
        <button type="button" class="inline-flex justify-center items-center space-x-2 border font-semibold rounded-lg px-8 py-4 leading-6 border-pink-700 bg-pink-700 text-white hover:text-white hover:bg-pink-600 hover:border-pink-600 focus:ring focus:ring-pink-400 focus:ring-opacity-50 active:bg-pink-700 active:border-pink-700 dark:focus:ring-pink-400 dark:focus:ring-opacity-90">
          Button
        </button>
        <!-- END Button (extra large pink) -->
      </div>
    </div>
    <!-- END Buttons: Primary Contextual -->
  </body>
</html>